Steps to do after starting GC ( Google colab notebook)

# ##1 We would give name the file ( saving file)
###2 We will click on connect button
###3 We will choose either a Text cell or a Command Cell to work with

### We will be using Python , version 3, which is known as Python3

In [4]:
# In Python we have two way to comment anything meaning any sentence
# First thing is to use # followed sentence
# we we need to write  more than a line of comment then we have to use ''' '''
'''
This is a multi line comment option in python
with this I can write comments or notes on multiple lines
'''

'\nThis is a multi line comment option in python \nwith this I can write comments or notes on multiple lines\n'

In [8]:
# working with Python : Rules
# Python is case , Python understands uppercase [HELLLO] or in a lower case(hi)
# R1 :Every Python command would be only in lower case Ex: print
print(" welcome to class")
# R2 : Python does not like extrace space , Ex: print('hi)
# Trying the command with space
print('hi')

 welcome to class
hi

In [16]:
# Working with variable in Python

#Rules for creation of variable in python :

#R1 : A variable name should not begin with number Ex : myname
my_name_1 = "Raj"
#R2 : Python does not accept '-', it accepts only '_'
my_name = 'Raj'
#R3 : if variable is long, then please an '-' instead of giving empty space
my_frinds_at_india = ['Bill ' , ' Modi', 'Trump']
#R4 : A variable name should start / use python command [ Reserved words]
print = 'hello'
# R5 : No variable should with special Character

In [19]:
*my_name = 'Raj'  # This is not a proper usage

SyntaxError: starred assignment target must be in a list or tuple (ipython-input-940890848.py, line 1)

In [21]:
a = 5

In [23]:
my_college_name = " India college "

In [27]:
numbers = [ 1, 2, 3, 4, 5]

# DataTypes In Python



1.   int        = A number with a decimal Ex: 4 , 5, 55,
2.   float      = A number with decimal   Ex 4., 4.4, 5.5
3.   str        = anything enclosed with in a pair of '' or " "
4.   bool       = True / False
5.   list       = to create a list datatype we use []
6.   Tuple      = to create a tuple datatype we use ()
7.   Dictionary = to create a dictionary datatype we use {}
8.   sets       = to create a sets datatype we may use () or {}

Note : The most important datatype are just 3, which are , 1.list , 2.tuple, 3. dictionary