In [ ]:
# Python DataTypes

# 1. int  -->       A number with a decimal value : Ex  : 5, 6
# 2. float -->      A number with a decimal Value : Ex : 5.5 , 6.6
# 3. str   -->      Anything enclosed within a pair of ' ', or " "
# 4. bool  -->      True / False
# 5. List  -->      To create a list datatype we have to [ ]
# 6. Tuple -->      TO create a tuple datatype we have to use ()
# 7. Dictionary ---> To create a dict datatype we have to use {}
# 8. set        -->  To create a set datatype we have to use {} / ()

In [2]:
# Working int datatype

a = 5
print(a) # print("we have to give name of variable")
# confirming type of datatype
type(a)  # type of a , it prints datatype of the  variable

5

int

In [3]:
b = 556
print(b)
type(b)

556

int

In [4]:
c = 68686886
print(c)
type(c)

68686886

int

In [5]:
# Working with float datatype
# Float : A number with a decimal value , 5.5

d = 5.5
print(d)
type(d)

5.5

float

In [6]:
e = 6.
print(e)
type(e)

6.0

float

In [7]:
# Bool DataType : Working with bool : True / False

f = 4 > 5
print(f)
type(f)

False

bool

In [8]:
# working another bool
g = 6
n = 10
j = n > g
print(j)
type(j)

True

bool

In [9]:
# working with str datatype: Anything enclosed with a pair of '' or ""

name = " Hi all, I am learning AI -AWS @ 2025 "
type(name)

str

In [12]:
# working with another str datatype

place = ' i am at india this is my place '
print(f"The type of variable we created now is :{type(place)}") # format string

the type of variable we created now is :<class 'str'>

In [ ]:
# Working with list datatypes
# Rules for creating and using list datatypes

#R1: To create a list datatype we have to use [ ]
#R2: Everything inside a [] is known as an item
#R3: Every item has to sep by a comma
#R4: If we are using str datatype, then we have to enclose it in '' or ""
#R5: List datatype is also known as mutable datatype

In [13]:
my_numbers = [ 1, 2 ,3 ,4 ,5 ]
type(my_numbers)

list

In [14]:
# 2nd example of list dType
my_frnds = [ 'Rahul', 'Raj', 'Ramesh']
type(my_frnds)

list

In [15]:
my_fav = [ 20, 30,  True, False , 100.25, "India" ]
type(my_fav)

list

In [ ]:
# Working with Tuple DataType
# Rules for Tuple
#R1: To create a Tuple datatype we have to use ( )
#R2: Everything inside a () is known as an element
#R3: Every element has to sep by a comma
#R4: If we are using str datatype, then we have to enclose it in '' or ""
#R5: Tuple datatype is also known as immutable datatype

In [16]:
my_tuple = ( 1, 2, 3, 4, 5 )
type(my_tuple)

tuple

In [17]:
# 2nd example of Tuple

my_frnds = ( "Musk", "Trump", "Modi")
type(my_frnds)

tuple

In [ ]:
# Working with dict datatype
# Rules for dictionary datatype:
#R1: TO create a dictionary datatype we have to use { }
#R2: A dictionary datatype we will have { "Key" : "Value"} , format

In [18]:
# Working with dictionary datatype

my_dict = { "happy" : "joy"}
type(my_dict)

dict

In [19]:
my_pin_code = {"Hyderabad " : 500001}
type(my_pin_code)

dict

In [ ]:
# Working with set datatype
#1. We have to use () or {}
#2. Set data types does not accept duplicate  values

In [21]:
my_set = { 1,1,2,3,3,4}
print(my_set)
type(my_set)

{1, 2, 3, 4}

set