In [ ]:
# Working with Python List DataType

#R1 : TO use Python List we need to use [ ]
#R2: EVerything insided a list is known as an item
#R3, Every item has to be sep by a comma
#4, If we are using string datatype we need to enclose in a pair of '' or ""
#5. List is mutable datatype

In [1]:
# Creating a list

my_first_numbers = [1, 2, 3, 4, 5]
my_second_numbers = [ 6, 7, 8, 9, 10]
print(my_first_numbers, my_second_numbers)
print() # Whenever we type an empty print statement we will have a blank line
print(type(my_first_numbers))
print(type(my_second_numbers))

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

<class 'list'>
<class 'list'>

In [2]:
# Working with some of the list methods. Here are some of them :

# Append Method , [ .append method, adds new items to the very end of the list]
# Syn:variable_name.append(item)
my_first_numbers.append(11)
print(my_first_numbers)

[1, 2, 3, 4, 5, 11]

In [3]:
# Working with second example
my_first_numbers.append(100)
print(my_first_numbers)

[1, 2, 3, 4, 5, 11, 100]

In [5]:
# using len() function : It provides length of items [ number of items]
print(len(my_first_numbers))

# Syn : len(variable_name)
len(my_first_numbers)

7

7

In [ ]:
# Working with .pop() method : It removes an item from the list

In [6]:
# working with .index() method : provides position of index of an item
#syn : variable_name.index(100)

my_first_numbers.index(100)

6

# in the world of Python , Indexing always starts from 0


1,  2,  3,  4, 5 , 11 , 100

In [7]:
print(my_first_numbers)

[1, 2, 3, 4, 5, 11, 100]

In [8]:
# printing last number (100) in the forward indexing , slice

# syn : variable_name[ 6]
my_first_numbers[6]

100

In [9]:
# printing number 4
my_first_numbers[3]

4

In [10]:
# printing / slicing from backward indexing method
my_first_numbers[-4]

4

In [11]:
# slicing in forward indexing [ a range of items ]

# Syn : variable_name[ Start_number : End_number ]

# Slicing from 2-11 items

my_first_numbers[1 : 5]

[2, 3, 4, 5]

In [12]:
# printing my first list of numbers
print(my_first_numbers)

[1, 2, 3, 4, 5, 11, 100]

In [13]:
# printing from 5 through 100

my_first_numbers[4 : 6]

[5, 11]

In [14]:
# printing from 4 to all numbers
# Syn : my_first_numbers[3 :  ]

my_first_numbers[ 3 : ]

[4, 5, 11, 100]

In [ ]:
# Please work with revese / backward indexing and slicing methods

In [15]:
# Working with .pop method, : it removes an item with index number
print(my_first_numbers)

[1, 2, 3, 4, 5, 11, 100]

In [16]:
# Removing 100 from my list by using .pop() method
# Variable_name.pop(index number)

my_first_numbers.pop(-1)

100

In [17]:
print(my_first_numbers)

[1, 2, 3, 4, 5, 11]

In [18]:
my_first_numbers.pop(5)

11

In [19]:
print(my_first_numbers)

[1, 2, 3, 4, 5]

In [20]:
# using .extend() method, it will add another list into the current list
my_first_numbers.extend(my_second_numbers)
print(my_first_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# Working with .insert() method : with this we can insert any item at any place by proving index number

my_first_numbers.insert(0, 0)
print(my_first_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
# changing an item value inside a list

# changing value from to 1000 : Syn : variable_name[-1] = 1000

my_first_numbers[-1] = 1000
print(my_first_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1000]

In [23]:
# Changing 5 to 50

my_first_numbers[5] = 50
print(my_first_numbers)

[0, 1, 2, 3, 4, 50, 6, 7, 8, 9, 1000]

In [24]:
# Working with Tuple

my_tup = ( 1, 2, 3, 4)
type(my_tup)

tuple

In [25]:
# Changing value of 4 to 40 : Immutable datatype

my_tup[3] = 40
print(my_tup)

TypeError: 'tuple' object does not support item assignment

In [26]:
my_dict = { "my_cities" : [ 'Hyderabad', 'Bangalore', 'Chennai']}
print(my_dict)

{'my_cities': ['Hyderabad', 'Bangalore', 'Chennai']}