# Function in Python 

# The function is a set of instuctions to complete a given job , so all of these tasks will execute one by one automatically when we call a function 

# To create a function we use :  def keyword , followed by name of the function, followed by () and  a :

Ex: def my_function():
        print("Hello")

# To use a function we need to call it by the name of the function 
my_function()

In [1]:
def my_function():
    print("Hello")

In [2]:
my_function()

Hello

In [3]:
# Now creating a functon to add two numbes 

def add_numbers(a, b):
    print("The sum is:", a + b)

In [4]:
# Calling the function 

add_numbers(5, 10)

The sum is: 15

In [ ]:
# Creating a function to multiply two numbers and return the result

In [5]:
def mul_numbers(x, y):
    return x * y

In [6]:
# Calling the function
mul_numbers(5, 10)

50

In [7]:
mul_numbers(7, 3,5,2,8)

TypeError: mul_numbers() takes 2 positional arguments but 5 were given

In [8]:
def mul_numbers(a,b,c,d,e):
    return a*b*c*d*e

In [9]:
mul_numbers(1,2,3,4,5)

120

In [ ]:
def any_number_mul(*args):
    return args

In [10]:
def  any_number_addition(*args):
    return sum(args)

In [11]:
any_number_addition(1,2,3,4,5,6,7,8,9,10)

55

In [12]:
any_number_addition(1,2)

3

In [13]:
any_number_addition(1.2,3.4,5.6)

10.2

In [ ]:
# LAmbda Functions : no name functions : Anonymous functions

# Syntax: lambda parameters: expression

In [14]:
a = lambda x, y : x+ y
print(a(5,10))

15

In [ ]:
b = lambda x, y : x * y
print(b(5,10))

In [ ]:
def greet(name):
    print(name , "HEllo")

In [20]:
greet("Nagarjuna")

HEllo

In [21]:
# Lambda  function to perform a div

c = lambda x,y, z : x/y/z
print(c(5,10,2))

0.25

In [22]:
d = lambda  a,b ,c,d,e,f,z : a*b*c*d*e*f*z
print(d(1,2,3,4,5,6,7))

5040

In [ ]:
#